<div class="left-side-bar bg-body-secondary">
    <div class="logo text-center">
        <img src="../img/Leonardo_da_vinci_retrato.png" class="img-fluid w-50 mt-2" alt="">
    </div>
    <hr/>

    <div class="left-side-first">
        <ul>
            <li>
                <i class="fas fa-tasks me-3"></i>
                <a href="../admin/job_category.php">Job Category</a>
            </li>
            <li>
                <i class="fa-solid fa-briefcase me-3"></i>
                <a href="../admin/company.php">Company</a>
            </li>
            <li>
                <i class="fas fa-tags me-3"></i>
                <a href="../admin/position.php">Position</a>
            </li>
            <li>
                <i class="fa-solid fa-list me-3"></i>
                <a href="#">Job List</a>
            </li>
            <li>
                <i class="fa-solid fa-hospital-user me-3"></i>
                <a href="benefit.php">Job Benefit</a>
            </li>
            <li>
                <i class="fas fa-tag me-3"></i>
                <a href="requirement.php">Job Requirement</a>
            </li>
        </ul>
    </div>
</div>